.background{
  background-image: url(../../../public/service/backgroundService.png);
  background-size: cover;
}

.containerSection{
  padding-top: 0rem;
  margin-top: 4rem;
}

.containerServices{
  display: flex;
  gap: 1rem;

  padding: 1rem 2rem;
}

.boxAbout{
  display: flex;
  flex-direction: column;
  gap: 1rem;
} 

.boxAbout > h1{
  font-size: 2.5rem;
  font-weight: 500;
}

.boxAbout p{
  color: var(--color2);
}

.containerLinks{
  display: flex;
  flex: 2;
  gap: 1rem;
}

.boxAbout, .boxServices{
  flex: 1;
}

.boxServices{
  border: 1px solid var(--color3);
  padding: 1rem;

  text-decoration: none;
  color: var(--color7);

  background-color: var(--color6);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.boxServices h2{
  text-align: center;
}

.boxServices p{
  text-align: center;
}

.iconServices svg{
  color: var(--color2);
  height: 3rem;
  width: 3rem;
}

.iconShare{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.iconShare svg{
  color: var(--color2);
  height: 1.5rem;
  width: 1.5rem;
}

/* ANIMATION HOVER*/

.boxServices {
  position: relative;
}

.animateSvg{
  left: 0;
  position: absolute;
  top: 0; 
  width: 100%; 
  height: 100%;
}

.animateSvg rect {
  fill: none;
  stroke: black;
  stroke-dasharray: 150 1600;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.boxServices:hover rect {
  stroke-dashoffset: -1600;
}

/*  */


@media (max-width: 1200px){
  .containerServices{
    flex-direction: column;
  }
}

@media (max-width: 600px){
  .containerLinks{
    flex-direction: column;
  }

  .boxAbout > h1{
    font-size: 2rem;
  }

  .boxServices h2{
    font-size: 1.2rem;
  }
}