/* ARROW SECTION */
.arrowBtnRight, .arrowBtnLeft{
  color: var(--color2);
  
  position: absolute;
  cursor: pointer;
}

.arrowBtnLeft{
  top: 2rem;
  right: 5rem;
}

.arrowBtnRight{
  top: 2rem;
  right: 2rem;
}

.arrowBtnLeft svg:last-child{
  position: relative;
  right: 0.4rem;
}

.arrowBtnRight svg:first-child{
  position: relative;
  left: 0.4rem;
}

/* --------------------------- */

.containerMaster{
  padding: 0 2rem;
}

.containerTitle{
  font-size: 2.5rem;
  text-transform: uppercase;
  max-width: 1100px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.containerTitle span{
  color: var(--color3);
}

.boxProject{
  display: flex;
  gap: 1rem;
  padding-bottom: 4rem;
}

.boxProject {
  display: flex;
  gap: 1rem;
}

.containerDescription{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.containerDescription h1{
  font-size: 1.5rem;
  text-transform: uppercase;
}

.containerDescription p{
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Limita o texto a n linhas */
  -webkit-box-orient: vertical;

  font-size: 1.2rem;

  overflow: hidden;
  text-overflow: ellipsis;
}

.linkShare{
  display: flex;
  gap: 0.5rem;
  color: var(--color3);
  border-bottom: 1px solid var(--color3);
  text-decoration: none;
  width: fit-content;

  text-transform: uppercase;

  transition: 300ms;
}

.linkShare:hover{
  color: var(--color2);
  border-bottom: 1px solid var(--color2);
}

.firstDivision{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.secondDivision{
  width: 35%;
}

.thirdDivision{
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.firstImage{
  max-height: 350px;
}

.secondImage{
  max-height: 650px;
}

.thirdImage{
  max-height: 325px;
}

.firstImage,
.secondImage,
.thirdImage {
  width: 100%;
  height: 100%
}

.firstImage img,
.secondImage img,
.thirdImage img {
  height: 100%;
  width: 100%;
}

@media (max-width: 1440px){
  .containerTitle{
    font-size: 2rem;
  }

  .boxProject{
    justify-content: center;
  }
  .firstDivision{
    width: 350px;
  }
  .secondDivision{
    width: 500px;
  }
  .thirdDivision{
    display: none;
  }

  .arrowBtnLeft{
    top: auto;
    bottom: 0rem;
    left: calc(50% - 4rem);
  }
  
  .arrowBtnRight{
    top: auto;
    bottom: 0rem;
    right: calc(50% - 4rem);
  }
}

@media (max-width: 880px){
  .containerTitle{
    font-size: 1.5rem;
  }

  .secondDivision{
    display: none;
  }

  .firstDivision{
    width: 100%;
  }

  .firstImage{
    margin: auto;
    max-width: 550px;
    max-height: 100%;
  }
}

@media (max-width: 500px){
  .containerTitle{
    font-size: 1.2rem;
  }
}