/* <a href="" className={`btn-flip ${header.btn}`} data-back="Clique Aqui" data-front="Saiba Mais"/> */

.btn-flip, .btn-flip2 {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;

  width: fit-content;
}

.btn-flip:hover:after, .btn-flip2:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before, .btn-flip2:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after, .btn-flip2:after{
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  display: block;
  transition: 0.5s;
  position: absolute;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:after{
  color: var(--color6);
  background: var(--color2);
}

.btn-flip2:after{
  color: var(--color6);
  background: var(--color1);
}

.btn-flip:before, .btn-flip2:before{
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

.btn-flip:before{
  color: var(--color2);
  background: var(--color6);
}

.btn-flip2:before{
  color: var(--color6);
  background: var(--color3);
}

/* BUTTON UNDERLINE */

.btn-under{
  color: var(--color6);
  text-decoration: none;
  
  display: inline-block;
  position: relative;
}

.btn-under:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 500%;
  background-color: var(--color6);
  position: absolute;
  left: 45%;
  top: 2.5rem;

  transform: scale(0);
  transition: transform 0.3s ease 0s;
}

.btn-under:hover:after { 
  transform: scale(1);
}

.btn-booble, .btn-booble2{
  text-decoration: none;
  
  display: inline-block;
  position: relative;
}

.btn-booble{
  color: var(--color6);
}

.btn-booble2{
  color: var(--color7);
}

.btn-booble:after, .btn-booble2:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 500%;
  position: absolute;

  top: 45%;
  left: -1.5rem;

  transform: scale(0);
  transition: transform 0.3s ease 0s;
}

.btn-booble:after{
  background-color: var(--color6);
}

.btn-booble2:after{
  background-color: var(--color7);
}

.btn-booble:hover:after, .btn-booble2:hover:after { 
  transform: scale(1); 
}