.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;

  width: fit-content;
}

.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: var(--color6);
  display: block;
  transition: 0.5s;
  position: absolute;
  background: var(--color1);
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: var(--color2);
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: var(--color6);
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

/* BUTTON UNDERLINE */

.btn-under{
  color: var(--color6);
  text-decoration: none;
  
  display: inline-block;
  position: relative;
}

.btn-under:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 500%;
  background-color: var(--color6);
  position: absolute;
  left: 45%;
  top: 2.5rem;

  transform: scale(0);
  transition: transform 0.3s ease 0s;
}

.btn-under:hover:after { 
  transform: scale(1);
}

.btn-booble{
  color: var(--color6);
  text-decoration: none;
  
  display: inline-block;
  position: relative;
}

.btn-booble:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 500%;
  background-color: var(--color6);
  position: absolute;

  top: 45%;
  left: -1.5rem;

  transform: scale(0);
  transition: transform 0.3s ease 0s;
}

.btn-booble:hover:after { 
  transform: scale(1); 
}