.title{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title h1{
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.title span{
  display: block;
  height: 4px;
  width: 2.5rem;
  background-color: var(--color2)
}