.headerContainer{
  width: 100%;
  height: 100vh;
  background-color: var(--color2);
  background-image: linear-gradient(to bottom, #594d4272, #594d4286), url(../../../public/header/projeto-grande.jpg); 
  background-size: cover;
}

.aboutContainer{
  display: flex;
  align-items: center;

  padding-left: 6vw;
  color: var(--color6);

  height: 100%;
}

.spaceDivs{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titleHeader{
  position: relative;
}

.titleHeader h1{
  position: relative;
  padding-left: 0.5rem;
  font-size: 2.5rem;
  font-weight: 300;
}

.titleHeader h2{
  font-family: "Bebas Neue", "Poppins", sans-serif; 
  font-size: 8rem;
  /* font-size: 6rem; */

  font-weight: 500;
  letter-spacing: 0px;

  padding: 0rem 0;

  letter-spacing: 0.5rem;
  /* letter-spacing: 0rem; */
  text-transform: uppercase;
}

.subtitleTrans{
  color: #ffffff35;
  position: absolute;

  width: 100%;

  top: 2.5rem;
  right: 1.5rem;
  /* top: 2rem;
  right: 2rem; */
}

.titleHeader p{
  max-width: 350px;
}

.iconsContainer{
  display: flex;
  align-items: center;
  gap: 1rem;
  }

.iconsContainer svg, .iconsContainer img{
  color: var(--color6);
  height: 2rem;
  width: 2rem;
}

.psContainer{
  position: absolute;
  bottom: 3rem;
  right: 2rem;

  width: 60%;
}

.psTitle{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color3);
  margin-bottom: 1rem;
}

.psDescription{
  background-color: #8c847d9d;
  backdrop-filter: blur(10px);
  padding: 1.5rem 1rem;

  display: flex;
  gap: 2rem;
}

.psDescription h2{
  font-size: 1.2rem;
  font-weight: 500;
}

.psDescription p{
  font-size: 1rem;
}

.psImage{
  display: flex;
  justify-content: end;

  position: absolute;
  right: 0;
  bottom: 90%;
}

.psImage img{
  width: 300px;
}

@media (max-width: 1200px) {
  .headerContainer{
    height: 100%;
  }

  .aboutContainer{
    flex-direction: column;
    align-items: normal;
    justify-content: initial;

    max-height: auto;
    height: auto;
  
    gap: 2rem;

    padding-top: 8rem;
    padding-left: 6vw;
  }

  .subtitleTrans{
    color: #ffffff35;
  
    position: absolute;
  
    /* top: 2.5rem;
    right: 1.5rem; */
  }
  

  .psContainer{
    position: relative;
    bottom: 0;
    right: 0;
  
    display: flex;
    flex-direction: column-reverse;

    gap: 1rem;
    max-width: 700px;
    padding-bottom: 2rem;
  }

  .psImage{
    display: block;  
    position: relative;
    right: 0;
    bottom: 0;
  }

  .psImage img{
    width: 100%;
  }

  .psDescription{
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .aboutContainer{
    padding-left: 2vw;
  }

  .titleHeader h1{
    font-size: 6vw;
    padding-left: 0;
  }
  
  .titleHeader h2{
    font-size: 12vw;
    padding-left: 1rem;
  }

  .titleHeader p{
    font-size: 0.9rem;
    padding-right: 1rem;
    max-width: 400px;
  }

  .subtitleTrans{
    top: 7vw;
    right: 2vw;
  }
}