.container{
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to bottom right, #A6A09C, #594D42);
}

.container h1{
  font-size: 9vw;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .container h1{
    font-size: 2rem;
  }
}